<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon32.png') }}">
    <link rel="icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='img/favicon-ios-home.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon-android-home.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/favicon-android-splash.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top text-nowrap text-center d-flex flex-row justify-content-center align-items-center align-content-center flex-nowrap logo-bar" style="padding-left: 20px;">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-md mobile-items">
                <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-2">
                        <ul class="nav navbar-nav d-flex flex-column justify-content-start align-items-start align-content-start">
                            {% for page, link in nav_links.items() %}
                                <li class="nav-item" role="presentation"><a class="nav-link {% if page_title == page %}active{% endif %}" href="{{ link }}">{{ page }}</a></li>
                            {% endfor %} 
                        </ul>
                    </div>
                </div>
            </nav><a class="navbar-brand d-flex flex-row justify-content-center justify-content-sm-start flex-md-fill justify-content-md-center flex-lg-fill justify-content-lg-center flex-xl-fill justify-content-xl-center" href="#"><img src="{{ url_for('static', filename='img/logo.svg') }}"></a></div>
    </nav>
    <section class="hero">
        <div class="row no-gutters d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-row-reverse align-items-center flex-sm-column flex-md-row-reverse flex-lg-row-reverse flex-xl-row-reverse" style="padding-top: 10px;height: 80vh;">
            <div class="col-2 d-flex justify-content-start nav-column">
                <nav class="navbar navbar-light navbar-expand-md desktop">
                    <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav d-flex flex-column main-nav">
                                {% for page, link in nav_links.items() %}
                                        <li class="nav-item" role="presentation"><a class="nav-link bleh {% if page_title == page %}active{% endif %}" href="{{ link }}">{{ page }}</a></li>
                                {% endfor %} 
                                <!-- <li class="nav-item" role="presentation"><a class="nav-link bleh" href="/about">About</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="/projects">Projects</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="/blog">Blog</a></li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col content">
                {% block content %}{% endblock %}
            </div>
            {% block content_title %}{% endblock %}
            <div class="col-2 d-flex justify-content-center nav-column">
                <nav class="navbar navbar-light navbar-expand-md desktop zero-pad-mar">
                    <div class="container-fluid zero-pad-mar">
                        <ul class="nav navbar-nav d-flex flex-column align-items-center">
                            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" href="https://github.com/noAudio" title="Check out my github"><i class="icon ion-social-github contact-nav"></i></a></li>
                            <li class="nav-item"
                                role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" href="mailto:sam@mrodongo.me" title="Email me"><i class="icon ion-ios-email contact-nav"></i></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" href="tel:+254703233849" title="Call or text me"><i class="icon ion-ios-telephone contact-nav"></i></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" href="www.linkedin.com/in/mrodongo" title="Connect on LinkedIn"><i class="icon ion-social-linkedin contact-nav"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
</body>

</html>