{% extends 'public/templates/public_template.html' %}

{% block page_title %}About{% endblock page_title %}

{% block content %}
<div class="row d-flex d-sm-flex flex-sm-column flex-sm-grow-1 flex-sm-fill justify-content-sm-center align-items-sm-center align-content-sm-center flex-md-row flex-lg-row flex-lg-grow-1 flex-xl-row hero-mobile" style="padding-bottom: 10%;padding-top: 10%;">
    <div class="col-5 d-flex d-sm-flex flex-column justify-content-center flex-sm-column">
        <div id="mrodongo" style="border: 4px solid rgb(108, 99, 255);box-shadow: 7px 7px rgb(108, 99, 255);"><img
                class="img-fluid" src="{{ url_for('static', filename='img/mrodongo.jpg') }}"></div>
    </div>
    <div class="col">
        <h1 class="purple">about me</h1>
        <p>I have been using Python for about 3 years, with the last 6 months being professional work. I have been
            freelancing on UpWork and other related freelancing sites. Personally&nbsp;<br>I have been using Python to
            automate repetitive
            tasks on my pc via simple scripts.</p>
        <p>I am also currently learning Flutter to write native mobile&nbsp;apps and web apps. I also make electronic
            music as a hobby.</p>
    </div>
</div>
<div class="row d-flex d-sm-flex flex-sm-column flex-sm-grow-1 flex-sm-fill justify-content-sm-center align-items-sm-center align-content-sm-center flex-md-row flex-lg-row flex-lg-grow-1 flex-xl-row hero-mobile">
    <div class="col d-flex d-sm-flex flex-column justify-content-center flex-sm-column">
        <h1 class="purple">background</h1>
        <p>I studied Management Information Systems at&nbsp;Daystar University (2015) and IT in Regional Center
            for&nbsp;Mapping of Resources and Development (2018).&nbsp;</p>
        <p>My current goal is to learn Data Science, of which I am&nbsp;in the early stages of achieving. I am also
            studying Flutter&nbsp;<br>and Dart so as to be able to create cross-platform&nbsp;performant apps.</p>
    </div>
    <div class="col-5 d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center skills"
            style="border: 4px solid rgb(108, 99, 255);box-shadow: 7px 7px rgb(108, 99, 255);padding-top: 10%;padding-bottom: 10%;height: inherit;width: 80%;">
            <h3 class="purple">skills</h3>
            <ul>
                <li>Python</li>
                <li>SQL</li>
                <li>HTML/CSS/JS</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}


{% block content_title %}
<div class="col-1 title-column">
    <h1>A<br>B<br>O<br>U<br>T<br></h1>
</div>
{% endblock content_title %}