{% extends 'public/templates/public_template.html' %}


{% block content %}
<div class="row d-flex d-sm-flex flex-sm-column flex-sm-grow-1 flex-sm-fill justify-content-sm-center align-items-sm-center align-content-sm-center flex-md-row flex-lg-row flex-lg-grow-1 flex-xl-row hero-mobile" style="padding-bottom: 10%;padding-top: 10%;">
    <div class="col d-flex flex-column align-items-center">
        <div class="row d-flex flex-row">
            <div class="col d-flex flex-row justify-content-end">
                <h1>coming&nbsp;</h1>
                <h1 class="purple">soon</h1>
            </div>
        </div>
        <p>Check back again later.</p>
        <div><img src="{{ url_for('static', filename='img/ComingSoon.svg') }}" style="width: 100%;"></div>
    </div>
</div>
{% endblock content %}


