{% extends "public/templates/public_template.html" %}


{% block page_title %}Error - Unknown{% endblock page_title %}


{% block content %}
<div class="row d-flex d-sm-flex flex-sm-column flex-sm-grow-1 flex-sm-fill justify-content-sm-center align-items-sm-center align-content-sm-center flex-md-row flex-lg-row flex-lg-grow-1 flex-xl-row hero-mobile" style="padding-bottom: 10%;padding-top: 10%;">
    <div class="col d-flex flex-column align-items-center 404-content">
        <div class="row d-flex flex-row justify-content-sm-center">
            <div class="col d-flex flex-column justify-content-end align-items-center unknown-headings">
                <h1>sorry</h1>
                <h1>we have encountered an&nbsp;</h1>
                <h1 class="purple">unknown error</h1>
            </div>
        </div>
        <p>Go back&nbsp;<a class="purple" href="/">home</a></p>
        <p>&nbsp;<a class="purple" href="/contact">Contact me&nbsp;</a>&nbsp;so that I can get to the bottom of the issue.</p>
        <div><img src="{{ url_for('static', filename='img/UnknownError.svg') }}" style="width: 100%;"></div>
    </div>
</div>
{% endblock content %}



